*{
    margin: 0;
    padding: 0;
}

body{ 
    /* background-image: url('bg.jpeg'); 
    background-size: cover; */
    background-color: #c4756f;
    text-align:center;
}
.navbar{
    width: 100%;
    padding-top: 2px;
    position: sticky;   /* fixed */
    z-index: 1;
    top: 0;
    background: linear-gradient(
90deg
,#e0977b,#e0a799 60%);
}
.menuitems{
    width:90%;
    padding-left: 50px;
    display:flex;
    justify-content: space-between;
}
.main:hover {
    background: #c98f8b;
    color: #ffff;
  }
.leftalign{
    display:inline-block;
}
.main{
    display: inline-block;
    margin:auto;
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    font-family: "Lucida";
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
}
.main.home{
    background-color: #c4756f;
}
.yourname{
    font-weight: bold;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    font-size: 25px;
}
.mainframe{
    text-align:left;
    display:inline-block;
    /* padding-top: 90px;
    padding-left:30px; */
}
.head{
    padding-left: 36px;
    display:inline-block;
    /* width:60%; */
    padding-top: 40px;
    font: "Lucidia";
    font-size: 3em;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}
.imgfr{
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 20px;
    position:relative;
    float:right;
    text-align:right;
    margin:15px 15px;
}
.img{
    width:240px;
    border:5px solid rgba(143, 241, 212, 0.815);
    border-radius: 50%;
    margin-left:auto;
    /* float:right; */
}
.para_intro{
    padding: 20px 40px;
    color:#ffff;
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 0;
    font-size:21px;
    max-width:900px;
    font-family: 'Public Sans', sans-serif;
}
.hobby_button{
    height: 50px;
    width: 210px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    border-width: 1px;
    border: 2px solid #e6a8a3;
    background-color:#e6a8a3;
    font: "Lucidia";
    font-size: 34px;
    color: white;
    padding-top: 6px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}
.skill_button{
    height: 50px;
    width: 210px;
    display:inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    border-width: 1px;
    border: 2px solid #d6b2af;
    background-color:#c4756f;
    font: "Lucidia";
    font-size: 34px;
    color: #ffffff;
    padding-top: 6px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}

.hobby_button:hover {
    background: linear-gradient(
        180deg
        ,#0cbbac,#8ce7c9 100%);
    color: #000000;
}
.skill_button:hover {
    background: linear-gradient(
        180deg
        ,#0cbbac,#8ce7c9 100%);
    color: #000000;
}
/* .para_container{
    position:relative;
} */
.button_para{
    display:inline-block;
    position:relative;
    bottom:0;
    padding-left: 20px;
    text-align:center;
}
.high{
    color:#8ff6d4;
    font-weight: bold;
}